
.notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4em;
    width: 100%;
    height: 100vh;
    /* background-color: #ffffff; */
    /* overflow-y: auto;  */
}

.notes-list{
    background-color: #feff9c;  
    width: 15em;
    height: 15em;
    text-decoration: none;
    color : black;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    transform: rotate(-3deg);
    transition: all ease 0.3s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-bottom: 1em;
    position: relative;
    top: 10px;
}

.notes-list:hover,
.notes-list:nth-child(even):hover, 
.notes-list:nth-child(3n):hover, 
.notes-list:nth-child(4n):hover, 
.notes-list:nth-child(5n):hover{
    transform: scale(1.3) rotate(0deg);
    margin-bottom: 1em;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.notes-list:nth-child(even){
    background-color: #7afcff;  
    transform: rotate(4deg);
    position: relative;
    top: 10px;

}

.notes-list:nth-child(3n){
    background-color: #ff7eb9;
    transform: rotate(-3deg);
    position: relative;
    top: 10px;
}

.notes-list:nth-child(5n){
    background-color: #a07eff;
    transform: rotate(5deg);
    position: relative;
    top: 10px;
}


.note__title{
    /* flex: 1; */
    font-size: 1em;
    width: 100%;
    padding: 0.5rem;
    margin-top: 1.2rem;
    margin-bottom: 0;
}

.note__description{
    /* display: none; */
    padding: 0.5rem;
    margin-top: 0rem;
    width: 100%;
}